In [1]:
import pprint
# dictionary
Key = [int, str]
Value = [int, str, list, tuple, set, dict]
data : dict[Key, Value] = {
                                "fname":"Syed Ejaz",
                                "name":"Wania Kazmi",
                                "education":"BSSE"
                              }

methods: list[str] = [m for m in dir(data) if "__" not in m]
print(methods)

['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# Clear()

In [2]:
# dictionary
Key = [int, str]
Value = [int, str, list, tuple, set, dict]
data : dict[Key, Value] = {
                                "fname":"Syed Ejaz",
                                "name":"Wania Kazmi",
                                "education":"BSSE"
                              }
print("Before", data)
data.clear()
print("After",data)

methods: list[str] = [m for m in dir(data) if "__" not in m]
print(methods)

Before {'fname': 'Syed Ejaz', 'name': 'Wania Kazmi', 'education': 'BSSE'}
After {}
['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# del dictionary_name

In [3]:
Key = [int, str]
Value = [int, str, list, tuple, set, dict]
data : dict[Key, Value] = {
                                "fname":"Syed Ejaz",
                                "name":"Wania Kazmi",
                                "education":"BSSE"
                              }
print("Before", data)
del data
print("After",data)

Before {'fname': 'Syed Ejaz', 'name': 'Wania Kazmi', 'education': 'BSSE'}

NameError: name 'data' is not defined

# pop()

In [5]:
Key = [int, str]
Value = [int, str, list, tuple, set, dict]
data : dict[Key, Value] = {
                                "fname":"Syed Ejaz",
                                "name":"Wania Kazmi",
                                "education":"BSSE"
                              }
print("Before", data)
data.pop("education")
print("After",data)

Before {'fname': 'Syed Ejaz', 'name': 'Wania Kazmi', 'education': 'BSSE'}
After {'fname': 'Syed Ejaz', 'name': 'Wania Kazmi'}

# popitem()

In [7]:
Key = [int, str]
Value = [int, str, list, tuple, set, dict]
data : dict[Key, Value] = {
                                "fname":"Syed Ejaz",
                                "name":"Wania Kazmi",
                                "education":"BSSE"
                              }
print("Before", data)
data.popitem()
print("After",data)

Before {'fname': 'Syed Ejaz', 'name': 'Wania Kazmi', 'education': 'BSSE'}
After {'fname': 'Syed Ejaz', 'name': 'Wania Kazmi'}

# get()

In [9]:
Key = [int, str]
Value = [int, str, list, tuple, set, dict]
data : dict[Key, Value] = {
                                "fname":"Syed Ejaz",
                                "name":"Wania Kazmi",
                                "education":"BSSE"
                              }
print("Before", data)
print(data.get("Pakistan", "NA"))
# print("After",data)

Before {'fname': 'Syed Ejaz', 'name': 'Wania Kazmi', 'education': 'BSSE'}
NA

# setdefault()

In [10]:
Key = [int, str]
Value = [int, str, list, tuple, set, dict]
data : dict[Key, Value] = {
                                "fname":"Syed Ejaz",
                                "name":"Wania Kazmi",
                                "education":"BSSE"
                              }
print("Before", data)
# a : str = data.setdefault("Pakistan") # it will just add the key with empty value
a : str = data.setdefault("Pakistan","Empty Value") # it will add the key and value 
print("After",data)

Before {'fname': 'Syed Ejaz', 'name': 'Wania Kazmi', 'education': 'BSSE'}
After {'fname': 'Syed Ejaz', 'name': 'Wania Kazmi', 'education': 'BSSE', 'Pakistan': None}

# update()

In [11]:
Key = [int, str]
Value = [int, str, list, tuple, set, dict]
data : dict[Key, Value] = {
                                "fname":"Syed Ejaz",
                                "name":"Wania Kazmi",
                                "education":"BSSE"
                              }

data1 : dict[Key, Value] = {
    "name": "wania",
    "age": 20,
    "height": "5 feet 8 inch"
}

data.update(data1)
print(data)

{'fname': 'Syed Ejaz', 'name': 'wania', 'education': 'BSSE', 'age': 20, 'height': '5 feet 8 inch'}

# What we can do from this dictionary
* for all the database we create - in that we use dataframe i.e tabular data

In [13]:
import pandas as pd
from typing import Any

students_data : dict[str, list[Any]] = {
    "rollNo": [1,2,3],
    "name" : ["Sir Zia", "Sir Inam", "M. Qasim"],
    "education" : ["Master","Master","Master"]
}

df : pd.DataFrame = pd.DataFrame(students_data)
# print(df)
df

   rollNo      name education
0       1   Sir Zia    Master
1       2  Sir Inam    Master
2       3  M. Qasim    Master

In [14]:
friends_language : dict[Key, Value] = {
    "wania" : "python",
    "kazmi" : "Typescript"
}

print("erin" not in friends_language.keys())
print(friends_language.keys())

True
dict_keys(['wania', 'kazmi'])

In [15]:
# here we can check Wania value in long string which was not possible through == 
"Wania" in """My name is Wania and I am working as a faculty member of PIAIC """

True

# How to convert List into Json:

In [17]:
import json

my_list = [1, 2, 3, 4, 5]

# Convert the list to a pretty-printed JSON string with an indentation of 4 spaces
json_string = json.dumps(my_list, indent=4)

# Print the pretty-printed JSON string
print(json_string)

[
    1,
    2,
    3,
    4,
    5
]