## List 
* Iteration operation with loop
* Apply any operation on element

In [1]:
names : list[str] = ["Wania Kazmi", "Roma", "Arzak"]
print(names)

['Wania Kazmi', 'Roma', 'Arzak']

## what for loop check for us:
* Intialization i - i=0
* condition - i<len(names)
* increment/decrement - i++

### That's what we do in javascript
```
names : list[str] = ["Wania Kazmi", "Roma", "Arzak"]
for(i=0; i < names.length; i++){
    names[i]
}
```

### Python convert all this into single line 

```
for name in names:
    print(name)
```
* what is important in the python code 
    * name
    * names
    * :

In [4]:
names : list[str] = ["Wania Kazmi", "Roma", "Arzak"]
for name in names:
    print(name)

Wania Kazmi
Roma
Arzak

In [15]:
names : list[str] = ["zia khan", "muhammad qasim", "dr noman"]
for name in names:
    print(f'Welcome Dear Teacher - {name.title()}')
    print('GenAI Team \n') #It print inside the loop because it's with indentation

print('Outside the loop')

Welcome Dear Teacher - Zia Khan
GenAI Team

Welcome Dear Teacher - Muhammad Qasim
GenAI Team

Welcome Dear Teacher - Dr Noman
GenAI Team

Outside the loop

## If we donot want to iterate over whole loop we only want to iterate to half or to specific point then for that we will do:

In [21]:
names : list[str] = ["zia khan", "muhammad qasim", "dr noman","wania kazmi"]

for name in names[:2]:
    print(f'The element of list is: {name.title()}')

The element of list is: Zia Khan
The element of list is: Muhammad Qasim

In [22]:

database: list[tuple[str, str]] = [
    ("wania", "123"), ("qasim", "345"), ("roma", "678")]

for row in database:
    print(row)

('wania', '123')
('qasim', '345')
('roma', '678')

## unziping the tuple

In [44]:
# unzip method
user, password = ("wania", "23080")
print("User and password unzipping: ",user, password)

database: list[tuple[str, str]] = [
    ("wania", "123"), ("qasim", "345"), ("roma", "678")]

        
for row in database:
    user, password = row #user and password are local variables here
    print(user, password)

User and password unzipping:  wania 23080
wania 123
qasim 345
roma 678

In [42]:
database1: list[tuple[str, str]] = [
    ("wania", "123"), ("qasim", "345"), ("roma", "678")]

input_user = input("Enter username")
input_password = input("Enter your password")
    
# now we want to match both username and password to database variable 

for row in database1:
    user, password = row 
#     print(user,password)
    if input_user == user and input_password == password:
        print("Valid User")
        break
else: 
    print("Not found or Invalid User")
    
#In python we can add else block with for loop, while, and with try-catch

TypeError: 'str' object is not callable

## else block with loops and try-catch

In [46]:
names : list[str] = ["wania","roma","zarnab"]

#if the for loop doesnot break in between then the else block will also execute otherwise it will 
for name in names:
    print(name)
    break
else: 
    print("else block executed")

wania

## When we dont write else block:

In [47]:
#if we dont use else block then this print statement will execute anyway
names : list[str] = ["wania","roma","zarnab"]   

for name in names:
    print(name)
    break

print("else block executed")

wania
else block executed

In [50]:
magicians: list[str] = ["alice","david",'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick")
#this line also work because local variable magician save the last item of list and can be accessible outside the body
print(f"I can't wait to see your next trick, {magician.title()}")

Alice, that was a great trick
David, that was a great trick
Carolina, that was a great trick
I can't wait to see your next trick, Carolina

## Avoid uncessary indentation as it will generate Error in your code

## Numbers with loop
* `range(start,end,step)` - range function doesnot run it's own as it is a generator function

In [51]:
range(10)

range(0, 10)

In [54]:
#To run a generator function we need to perform an iteration and we will do it with list() function
list(range(10)) #start = 0, end = n-1 - it will exclude the last value 
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [66]:
# enumerate function 
magicians = ["alice", "david", "carolina"]
list(enumerate(magicians))


#unzipping here
for index, magician in enumerate(magicians):
    print(index, magician)

0 alice
1 david
2 carolina

In [69]:
for index,n in enumerate(range(2,21,2)): #here we donot write a list because on range iteration is already performing through for loop
    print(f"2 x {index + 1} = {n}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [71]:
square : list[int] = []
for value in range(1,11):
    sq = value ** 2
    square.append(sq)
print(square)

#This task can be done in a single line so we donot need to write multople lines: so for this we will use list comprehensive

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List Comprehensive

### Non Comprehensive Style
```
for item in items_list:
    loop_body
```

### Comprehensive Style
body came first and there will be no colon in the end
```
loop_body for item in items_list
    
```

In [72]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [78]:
# take power of 2 for every element like we did in above square example
# Traditional Method:
for i in range(1,11):
    print(i**2)
    
# Non Traditional Method with using list comprehension - as we want list in return so,
[i**2 for i in range(1,11)]

1
4
9
16
25
36
49
64
81
100

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [80]:
digits: list[int] = [0,1,2,3,4,5,6,7,8,9]
print(digits)
print(min(digits))
print(max(digits))
print(sum(digits))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0
9
45

# Slicing Deep copy and Shallow copy

* As we can see in below example - slicing always do `Deep copy` not shallow copy

In [82]:
my_foods: list[str] = ['pizza','falafel','carrot cake']
friends_food : list[str] = my_foods[:]

print(my_foods)
print(friends_food)

friends_food[0] = "strawberrries"
print("After change in my_food: ",my_foods)
print("After change in friends_food: ",friends_food)

['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
After change in my_food:  ['pizza', 'falafel', 'carrot cake']
After change in friends_food:  ['strawberrries', 'falafel', 'carrot cake']

# Tuples

* Tuples are immutable - means we can't edit/update them
* We can identify tuple with () - it starts with "(" and end with ")"

In [89]:
names : tuple[str] = ("A","B","C")
print(names[0])
print(names[1])
# we can also do slicing
print(names[0:2])

# as we know we cannot update the tuple so the below line will give an error
# names[0] = "Pakistan"

# So for reassignment - we will do
names: list[str] = ["Pakistan","B","C"]
print(names)

A
B
('A', 'B')
['Pakistan', 'B', 'C']

In [95]:
# we can assign any datatype to tuple
from typing import Any
data : list[Any] = ("A",[1,2,3], True)
print(data)

#we can update list here 
print(data[1])
data[1].append(20)
print(data) # so here tuple doesnot update here list (which is an object) is updated - so we apply changes to that object not to tuple

('A', [1, 2, 3], True)
[1, 2, 3]
('A', [1, 2, 3, 20], True)