## List 
* Iteration operation with loop
* Apply any operation on element

In [1]:
names : list[str] = ["Wania Kazmi", "Roma", "Arzak"]
print(names)

['Wania Kazmi', 'Roma', 'Arzak']

## what for loop check for us:
* Intialization i - i=0
* condition - i<len(names)
* increment/decrement - i++

### That's what we do in javascript
```
names : list[str] = ["Wania Kazmi", "Roma", "Arzak"]
for(i=0; i < names.length; i++){
    names[i]
}
```

### Python convert all this into single line 

```
for name in names:
    print(name)
```
* what is important in the python code 
    * name
    * names
    * :

In [4]:
names : list[str] = ["Wania Kazmi", "Roma", "Arzak"]
for name in names:
    print(name)

Wania Kazmi
Roma
Arzak

In [15]:
names : list[str] = ["zia khan", "muhammad qasim", "dr noman"]
for name in names:
    print(f'Welcome Dear Teacher - {name.title()}')
    print('GenAI Team \n') #It print inside the loop because it's with indentation

print('Outside the loop')

Welcome Dear Teacher - Zia Khan
GenAI Team

Welcome Dear Teacher - Muhammad Qasim
GenAI Team

Welcome Dear Teacher - Dr Noman
GenAI Team

Outside the loop

## If we donot want to iterate over whole loop we only want to iterate to half or to specific point then for that we will do:

In [21]:
names : list[str] = ["zia khan", "muhammad qasim", "dr noman","wania kazmi"]

for name in names[:2]:
    print(f'The element of list is: {name.title()}')

The element of list is: Zia Khan
The element of list is: Muhammad Qasim

In [22]:

database: list[tuple[str, str]] = [
    ("wania", "123"), ("qasim", "345"), ("roma", "678")]

for row in database:
    print(row)

('wania', '123')
('qasim', '345')
('roma', '678')

## unziping the tuple

In [32]:
database: list[tuple[str, str]] = [
    ("wania", "123"), ("qasim", "345"), ("roma", "678")]

        
for row in database:
    user, password = row #user and password are local variables here
    print(user, password)

wania 123
qasim 345
roma 678

In [41]:
database1: list[tuple[str, str]] = [
    ("wania", "123"), ("qasim", "345"), ("roma", "678")]

input_user = input("Enter username")
input_password = input("Enter your password")
    
# now we want to match both username and password to database variable 

for row in database1:
    user, password = row 
#     print(user,password)
    if input_user == user and input_password == password:
        print("Valid User")
        break
else: 
    print("Not found or Invalid User")

TypeError: 'str' object is not callable