## String in Python

In [8]:
# boundries 
# 'string text', "string text", '''string text''', """ string text """
# `this back tick doesnot work here`
 
name : str = """wania"""
print("type of name is: ", type(name))
print("name is:", name)

type of name is:  <class 'str'>
name is: wania

## why we need triple quotation marks in string

In [11]:
string_quotation : str = 'PIAIC student card \n father\'s name'
print("string quotation is: ",string_quotation)

string quotation is:  PIAIC student card
 father's name

## concatination in string

In [12]:
#does work with string 
a = "wania"
b = "kazmi"

print(a + b)

waniakazmi

## typecasting

In [15]:
# doesnot work with int - both type should be of same datatype
a1 = "wania"
# b = 12 - conver it into string for concatination
#b = "12"
# or do typcasting of b
b = str(12)
print(a + b)

wania12

# "\\" for line continue

In [27]:
print( 7 + 8 + 2)
#used for line contineuation - used when your print line is long
print (7 + \
        8 + \
        2)

17
17

## Define multiline string, """ """, ''' '''

In [31]:
# when your print line is large we use """ """, ''' '''
fname : str = "Wania"
lname : str = "Kazmi"
father_name : str = "Ejaz Hussain"
education : str = "Bachelors in Computer Science"
age : int = 25

card : str = """ 
PIAIC Student Card
Student name: ...
Father's name: ...
Education: ...
Age: ...
"""
print(card)

PIAIC Student Card
Student name: ...
Father's name: ...
Education: ...
Age: ...

## f-string

In [36]:
fname : str = "Wania"
lname : str = "Kazmi"
father_name : str = "Ejaz Hussain"
education : str = "Bachelors in Computer Science"
age : int = 25

# notice that here we dont need to typecast age into string for concatination which is benefit of f-string

card : str = f""" 
PIAIC Student Card
Student name: {fname + lname}
Father's name: {father_name}
Education: {education}
Age: {age} 
"""
print(card)

#or it could be this way - back ticks doesnot work here

card1 : str = f'''
PIAIC Student Card
Student name: {fname + lname}
Father's name: {father_name}
Education: {education}
Age: {age} 
'''

# print(card1)

# you can also add expressions inside the f-string like 
card2 : str = f'''
PIAIC Student Card
Student name: {fname + lname}
Father's name: {father_name}
Education: {education}
Age: {age} 

Total = {2 + 3 + 8}
'''
print(card2)

PIAIC Student Card
Student name: WaniaKazmi
Father's name: Ejaz Hussain
Education: Bachelors in Computer Science
Age: 25


PIAIC Student Card
Student name: WaniaKazmi
Father's name: Ejaz Hussain
Education: Bachelors in Computer Science
Age: 25

Total = 13

## In Django or flask when we place variable in HTML document we do formating with the help of f-string & Jinja style

* f-string
* Jinja Style

In [37]:
#f-string
value1 : str = f"""f string value can be supported like this: {name}"""
print(value1)

#Jinja style
value2 : str = f"""
Student name in Jinja style: {{name}}
"""
print(value2)

f string value can be supported like this: wania

Student name in Jinja style: {{name}}

In [41]:
#we can also write it something like that - not very recommended
card : str = f'''
PIAIC Student Card
Student name: %s
Father's name: %s
Education: %s
Age: %d 

''' % (fname +" "+lname, father_name, education, age)
print(card)

PIAIC Student Card
Student name: Wania Kazmi
Father's name: Ejaz Hussain
Education: Bachelors in Computer Science
Age: 25

## string methods

In [45]:
dir(str)
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [59]:
name1 : str = "WaNiA kAZmI"
print(name1.capitalize())
print(name1.casefold())
# print(name1.center(0))
a = 3
b = 6

#                   0 index          1 index     0,1  - this format method is part of f string
"Pakistan value a = {} and value b = {} ".format(a,b)

# we can specify indexes and then can change their order

card : str = '''
PIAIC Student Card
Student name: {1}
Father's name: {0}
Education: {3}
Age: {2}

'''.format(father_name, fname, age, education)
#             0          1      2     3
print(card)

card1 : str = '''
PIAIC Student Card
Student name: {a}
Father's name: {b}
Education: {c}
Age: {d}

'''.format(b = father_name, a = fname +" "+ lname, d = age, c = education)
#             0          1      2     3
print(card1)

Wania kazmi
wania kazmi

PIAIC Student Card
Student name: Wania
Father's name: Ejaz Hussain
Education: Bachelors in Computer Science
Age: 25



PIAIC Student Card
Student name: Wania Kazmi
Father's name: Ejaz Hussain
Education: Bachelors in Computer Science
Age: 25

In [65]:
#here we can run student code and check their result output

student_code : str = """
print("My name is Wania")
a : int = 3
b : int = 6
sum : int = a + b
print("Sum result is:",sum)
""" 
exec(student_code)

My name is Wania
Sum result is: 9

# Explore string methods and attributes

## pre-define global functions we have used
* print
* type
* id 
* dir
* len()

In [67]:
a : list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [75]:
name : str = "     Wania       Kazmi     "
# print(name)
# remove all spaces from left side
# print(name.lstrip())

# display function is better than print
display(name)
display(name.lstrip())
display(name.rstrip())
display(name.strip())

# to remove the middle spaces we use regix

'     Wania       Kazmi     '

'Wania       Kazmi     '

'     Wania       Kazmi'

'Wania       Kazmi'

In [77]:
#to remove all the extra spaces: we will import re (regular expression)
import re 
name : str = "      Wania      Kazmi     "
print(name)

#re.substitute include 3 things as a parameter - pattern, replacement, variable you want to change
name1 : str = re.sub(' {2,100}',' ',name)
display(name1)
display(name1.strip())

      Wania      Kazmi

' Wania Kazmi '

'Wania Kazmi'