# Python Arithematic Operators

## Python divides the operators in the following groups:
* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [1]:
# !pip install pandas

Requirement already satisfied: pandas in c:\python310\lib\site-packages (2.1.1)
Requirement already satisfied: tzdata>=2022.1 in c:\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in c:\python310\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.22.4 in c:\python310\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: six>=1.5 in c:\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.3.1
[notice] To update, run: C:\Python310\python.exe -m pip install --upgrade pip

In [8]:
# %pip install pandas
%pip install lxml
import pandas as pd 

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

Requirement already satisfied: lxml in c:\users\wania\appdata\local\programs\python\python312\lib\site-packages (4.9.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3
[notice] To update, run: python.exe -m pip install --upgrade pip

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [1]:
a = 2
b = 9
print(f'''The exponent of a is: {a**2}''') #exponents
print(f'''The floor division of b is: {b//2}''') #floor division

The exponent of a is: 4
The floor division of b is: 4

In [12]:
c: int = 11
d: int = 3

print(f'''c modulus of d is: {c%d}''') #modulus

c modulus of d is: 2

In [15]:
a: int = 2
sum1 : int = 0
sum1 += 2
print(sum1)

2

In [16]:
# we will deal with 0-7 operator
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

## Walrus Operator

In [18]:
a: int = 7

#this is walrus operator
print(a := 7)
# print (a = 7)

7

## python comparison operator

In [19]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

ASCII Code
* A = 65
* Z = 90
* a = 97
* z = 122

* 0 = 48
* 0 = 57

In [22]:
print(chr(65))
print(ord("F"))

A
70

## Python Logical Operator

In [23]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [25]:
name : str = "Wania"
print(not name == "Wania")
print(name != "Wania")

False
False

## Python Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [26]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [27]:
x: str = "abc"
z: str = "abc"

print(id(x))
print(id(z))

print( x is z )
# is check that both variable address is same or not

140733692262208
140733692262208
True

## Python membership operator
Membership operators are used to test if a sequence is presented in an object:

In [28]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [5]:
names: list[str] = [chr(i) for i in range(65, 91)]
# print(names)

for i in range(len(names)):
    print(i, names[i])
    if names[i] == "D":
        print(i, "D is present")


a : list[int] = [2,3,4]
if(2 not in a):
    print("Not present")
else:
    print("Present")

0 A
1 B
2 C
3 D
3 D is present
4 E
5 F
6 G
7 H
8 I
9 J
10 K
11 L
12 M
13 N
14 O
15 P
16 Q
17 R
18 S
19 T
20 U
21 V
22 W
23 X
24 Y
25 Z
Present

### how in works for above example

In [39]:
names: list[str] = [chr(i) for i in range(65, 91)]
checkD = "D" in names
print("Checking D is present: ",checkD)

checkPakistan = "Pakistan" in names
print("Checking Pakistan is present: ",checkPakistan)

Checking D is present:  True
Checking Pakistan is present:  False

In [6]:
names : list[str] = ["Wania", "kazmi"]
u_input : str = input("Enter your name")

print(u_input is not names)

True

In [10]:
universe_age: int  = 14_000_000_000
print(universe_age)

14000000000

In [9]:
#unzip
a, b, c = "wania", 45, True
print(a, b, c)

data = ("wania", 45, True)
print(data[0], data[1], data[2])
print(*data)

wania 45 True
wania 45 True

In [11]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!