# Pandas
pandas are used for tabular and semi-structured data
Semi-structured = data in json form, xml -> these are easily convertable to structured data specially when they have pattern and we can easily handle it with the help of pandas

https://pandera.readthedocs.io/en/stable/index.html

In [2]:
%pip install pandera

Collecting pandera
  Obtaining dependency information for pandera from https://files.pythonhosted.org/packages/04/f8/e00c7a27b5a7c13bc51baa8f75f4c55d8fa2549ff96402699ac56b864d6d/pandera-0.17.2-py3-none-any.whl.metadata
  Downloading pandera-0.17.2-py3-none-any.whl.metadata (15 kB)
Collecting multimethod (from pandera)
  Obtaining dependency information for multimethod from https://files.pythonhosted.org/packages/7f/bd/750245e47e7f307d9f94d4fa84727f4ed9956005dfa671d58be1d531a0f6/multimethod-1.10-py3-none-any.whl.metadata
  Downloading multimethod-1.10-py3-none-any.whl.metadata (8.2 kB)
Requirement already satisfied: numpy>=1.19.0 in c:\users\wania\appdata\local\programs\python\python312\lib\site-packages (from pandera) (1.26.1)
Requirement already satisfied: packaging>=20.0 in c:\users\wania\appdata\roaming\python\python312\site-packages (from pandera) (23.2)
Requirement already satisfied: pandas>=1.2.0 in c:\users\wania\appdata\local\programs\python\python312\lib\site-packages (from pandera) (2.1.1)
Collecting pydantic (from pandera)
  Obtaining dependency information for pydantic from https://files.pythonhosted.org/packages/0a/2b/64066de1c4cf3d4ed623beeb3bbf3f8d0cc26661f1e7d180ec5eb66b75a5/pydantic-2.5.2-py3-none-any.whl.metadata
  Downloading pydantic-2.5.2-py3-none-any.whl.metadata (65 kB)
     ---------------------------------------- 0.0/65.2 kB ? eta -:--:--
     ------ --------------------------------- 10.2/65.2 kB ? eta -:--:--
     ----------------------- -------------- 41.0/65.2 kB 487.6 kB/s eta 0:00:01
     -------------------------------------- 65.2/65.2 kB 584.8 kB/s eta 0:00:00
Collecting typeguard>=3.0.2 (from pandera)
  Obtaining dependency information for typeguard>=3.0.2 from https://files.pythonhosted.org/packages/18/01/5fc45558268ced46d86292763477996a3cdd505567cd590a688e8cdc386e/typeguard-4.1.5-py3-none-any.whl.metadata
  Downloading typeguard-4.1.5-py3-none-any.whl.metadata (3.7 kB)
Collecting typing-inspect>=0.6.0 (from pandera)
  Obtaining dependency information for typing-inspect>=0.6.0 from https://files.pythonhosted.org/packages/65/f3/107a22063bf27bdccf2024833d3445f4eea42b2e598abfbd46f6a63b6cb0/typing_inspect-0.9.0-py3-none-any.whl.metadata
  Using cached typing_inspect-0.9.0-py3-none-any.whl.metadata (1.5 kB)
Collecting wrapt (from pandera)
  Obtaining dependency information for wrapt from https://files.pythonhosted.org/packages/5c/cc/8297f9658506b224aa4bd71906447dea6bb0ba629861a758c28f67428b91/wrapt-1.16.0-cp312-cp312-win_amd64.whl.metadata
  Downloading wrapt-1.16.0-cp312-cp312-win_amd64.whl.metadata (6.8 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\wania\appdata\roaming\python\python312\site-packages (from pandas>=1.2.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\wania\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2.0->pandera) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\wania\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2.0->pandera) (2023.3)
Collecting mypy-extensions>=0.3.0 (from typing-inspect>=0.6.0->pandera)
  Using cached mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)
Collecting typing-extensions>=3.7.4 (from typing-inspect>=0.6.0->pandera)
  Obtaining dependency information for typing-extensions>=3.7.4 from https://files.pythonhosted.org/packages/24/21/7d397a4b7934ff4028987914ac1044d3b7d52712f30e2ac7a2ae5bc86dd0/typing_extensions-4.8.0-py3-none-any.whl.metadata
  Using cached typing_extensions-4.8.0-py3-none-any.whl.metadata (3.0 kB)
Collecting annotated-types>=0.4.0 (from pydantic->pandera)
  Obtaining dependency information for annotated-types>=0.4.0 from https://files.pythonhosted.org/packages/28/78/d31230046e58c207284c6b2c4e8d96e6d3cb4e52354721b944d3e1ee4aa5/annotated_types-0.6.0-py3-none-any.whl.metadata
  Using cached annotated_types-0.6.0-py3-none-any.whl.metadata (12 kB)
Collecting pydantic-core==2.14.5 (from pydantic->pandera)
  Obtaining dependency information for pydantic-core==2.14.5 from https://files.pythonhosted.org/packages/60/5a/3161e1a1c138407cd2037b12ecdbe29f4890ccda1c0a0be69438c7d0065d/pydantic_core-2.14.5-cp312-none-win_amd64.whl.metadata
  Downloading pydantic_core-2.14.5-cp312-none-win_amd64.whl.metadata (6.6 kB)
Requirement already satisfied: six>=1.5 in c:\users\wania\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pandera) (1.16.0)
Downloading pandera-0.17.2-py3-none-any.whl (203 kB)
   ---------------------------------------- 0.0/203.4 kB ? eta -:--:--
   ------ --------------------------------- 30.7/203.4 kB 1.3 MB/s eta 0:00:01
   ------------ --------------------------- 61.4/203.4 kB 1.1 MB/s eta 0:00:01
   ------------ --------------------------- 61.4/203.4 kB 1.1 MB/s eta 0:00:01
   --------------- ----------------------- 81.9/203.4 kB 416.7 kB/s eta 0:00:01
   ---------------------------------------- 203.4/203.4 kB 1.0 MB/s eta 0:00:00
Downloading typeguard-4.1.5-py3-none-any.whl (34 kB)
Using cached typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Downloading multimethod-1.10-py3-none-any.whl (9.9 kB)
Downloading pydantic-2.5.2-py3-none-any.whl (381 kB)
   ---------------------------------------- 0.0/381.9 kB ? eta -:--:--
   ---------------------------------------- 0.0/381.9 kB ? eta -:--:--
   ------- -------------------------------- 71.7/381.9 kB 1.9 MB/s eta 0:00:01
   ----------- ---------------------------- 112.6/381.9 kB 1.6 MB/s eta 0:00:01
   ----------- ---------------------------- 112.6/381.9 kB 1.6 MB/s eta 0:00:01
   ----------- ---------------------------- 112.6/381.9 kB 1.6 MB/s eta 0:00:01
   -------------------- ----------------- 204.8/381.9 kB 778.2 kB/s eta 0:00:01
   --------------------------------- ------ 317.4/381.9 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 368.6/381.9 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 368.6/381.9 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 368.6/381.9 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 368.6/381.9 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 368.6/381.9 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 368.6/381.9 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 368.6/381.9 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 368.6/381.9 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 368.6/381.9 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 368.6/381.9 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 368.6/381.9 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 368.6/381.9 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 368.6/381.9 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 368.6/381.9 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 368.6/381.9 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 368.6/381.9 kB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 368.6/381.9 kB 1.1 MB/s eta 0:00:01
   -------------------------------------  378.9/381.9 kB 323.1 kB/s eta 0:00:01
   -------------------------------------- 381.9/381.9 kB 325.7 kB/s eta 0:00:00
Downloading pydantic_core-2.14.5-cp312-none-win_amd64.whl (1.9 MB)
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
    --------------------------------------- 0.0/1.9 MB 326.8 kB/s eta 0:00:06
   - -------------------------------------- 0.1/1.9 MB 409.6 kB/s eta 0:00:05
   -- ------------------------------------- 0.1/1.9 MB 492.8 kB/s eta 0:00:04
   --- ------------------------------------ 0.1/1.9 MB 607.9 kB/s eta 0:00:03
   --- ------------------------------------ 0.2/1.9 MB 619.5 kB/s eta 0:00:03
   ---- ----------------------------------- 0.2/1.9 MB 689.2 kB/s eta 0:00:03
   ----- ---------------------------------- 0.3/1.9 MB 713.1 kB/s eta 0:00:03
   ------ --------------------------------- 0.3/1.9 MB 756.6 kB/s eta 0:00:03
   ------- -------------------------------- 0.4/1.9 MB 791.2 kB/s eta 0:00:02
   -------- ------------------------------- 0.4/1.9 MB 793.8 kB/s eta 0:00:02
   --------- ------------------------------ 0.5/1.9 MB 805.0 kB/s eta 0:00:02
   ---------- ----------------------------- 0.5/1.9 MB 827.5 kB/s eta 0:00:02
   ----------- ---------------------------- 0.6/1.9 MB 846.7 kB/s eta 0:00:02
   ------------ --------------------------- 0.6/1.9 MB 849.6 kB/s eta 0:00:02
   ------------- -------------------------- 0.6/1.9 MB 865.0 kB/s eta 0:00:02
   -------------- ------------------------- 0.7/1.9 MB 852.2 kB/s eta 0:00:02
   --------------- ------------------------ 0.7/1.9 MB 865.7 kB/s eta 0:00:02
   ---------------- ----------------------- 0.8/1.9 MB 877.7 kB/s eta 0:00:02
   ----------------- ---------------------- 0.8/1.9 MB 888.5 kB/s eta 0:00:02
   ------------------ --------------------- 0.9/1.9 MB 898.2 kB/s eta 0:00:02
   ------------------- -------------------- 0.9/1.9 MB 886.9 kB/s eta 0:00:02
   ------------------- -------------------- 0.9/1.9 MB 884.0 kB/s eta 0:00:02
   ------------------- -------------------- 0.9/1.9 MB 884.0 kB/s eta 0:00:02
   ---------------------- ----------------- 1.0/1.9 MB 894.7 kB/s eta 0:00:01
   ----------------------- ---------------- 1.1/1.9 MB 902.3 kB/s eta 0:00:01
   ------------------------ --------------- 1.1/1.9 MB 909.3 kB/s eta 0:00:01
   ------------------------- -------------- 1.2/1.9 MB 900.0 kB/s eta 0:00:01
   ------------------------- -------------- 1.2/1.9 MB 902.2 kB/s eta 0:00:01
   --------------------------- ------------ 1.3/1.9 MB 912.8 kB/s eta 0:00:01
   --------------------------- ------------ 1.3/1.9 MB 914.5 kB/s eta 0:00:01
   ----------------------------- ---------- 1.4/1.9 MB 920.1 kB/s eta 0:00:01
   ----------------------------- ---------- 1.4/1.9 MB 909.6 kB/s eta 0:00:01
   ------------------------------- -------- 1.5/1.9 MB 915.0 kB/s eta 0:00:01
   ------------------------------- -------- 1.5/1.9 MB 916.4 kB/s eta 0:00:01
   -------------------------------- ------- 1.5/1.9 MB 921.4 kB/s eta 0:00:01
   --------------------------------- ------ 1.6/1.9 MB 926.0 kB/s eta 0:00:01
   ---------------------------------- ----- 1.6/1.9 MB 930.4 kB/s eta 0:00:01
   ----------------------------------- ---- 1.7/1.9 MB 928.8 kB/s eta 0:00:01
   ------------------------------------ --- 1.7/1.9 MB 929.9 kB/s eta 0:00:01
   ------------------------------------- -- 1.8/1.9 MB 926.0 kB/s eta 0:00:01
   -------------------------------------- - 1.8/1.9 MB 930.4 kB/s eta 0:00:01
   ---------------------------------------  1.9/1.9 MB 934.2 kB/s eta 0:00:01
   ---------------------------------------- 1.9/1.9 MB 932.3 kB/s eta 0:00:00
Downloading wrapt-1.16.0-cp312-cp312-win_amd64.whl (37 kB)
Using cached annotated_types-0.6.0-py3-none-any.whl (12 kB)
Using cached typing_extensions-4.8.0-py3-none-any.whl (31 kB)
Installing collected packages: wrapt, typing-extensions, typeguard, mypy-extensions, multimethod, annotated-types, typing-inspect, pydantic-core, pydantic, pandera
Successfully installed annotated-types-0.6.0 multimethod-1.10 mypy-extensions-1.0.0 pandera-0.17.2 pydantic-2.5.2 pydantic-core-2.14.5 typeguard-4.1.5 typing-extensions-4.8.0 typing-inspect-0.9.0 wrapt-1.16.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd
import pandera as pa

# DataFrame
- In excel sheet - we call it sheet but in pandas we call it DataFrame
- DataFrame depends on series

## What are series?
- In normal excel we call it column and in panda we call it series  
- Series could be horizontal and vertical - horizontal series = rows and vertical series = column
- Column name are called as column index and Row name are called as row index
- Every cell has data and it's particular address 
- Data can be access into different ways - with column and row name 2B ( 2 is row name and B is column name)

# Pandas Core Components
* Series types
* DataFrame types

In [5]:
# we can use list for creating series
s1: pd.Series = pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
# we cannot use set for creating series
s1: pd.Series = pd.Series({1,2,3,4,5})
s1

TypeError: 'set' type is unordered

In [7]:
# we can use Tuple for creating series
s1: pd.Series = pd.Series((1,2,3,4,5))
s1 #on left side there are index that start from 0 and on right side there is and datatype is also visible  but in simple list we cant see that

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
li : list = [1,2,3,4,5]
li

[1, 2, 3, 4, 5]

In [10]:
# we can use Dictionary for creating series
s1: pd.Series = pd.Series({"a":10, "b":20, "c":30})
s1 # on left side there is indexing which is replaced from numerical value of 0,1,2 to a,b,c and on right side there is value

a    10
b    20
c    30
dtype: int64

In [11]:
values : list[int] = [1,2,3,4,5]
index1 : list[str] = ['a','b','c','d','e']

s1: pd.Series = pd.Series(values, index = index1)
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

### Group by
we can also create a multiple index to group-by our data

In [16]:
#we define multi index here
values : list[int] = [1,2,3,4,5]
index1 : list[list[str]] = [['a1','a1','a1','b','b1'],
                      ['a','b','c','d','e']]

s1: pd.Series = pd.Series(values, index = index                                                                                                                                 1)
s1

a1  a    1
    b    2
    c    3
b   d    4
b1  e    5
dtype: int64

### change the type name

In [17]:
#we define multi index here
values : list[int] = [1,2,3,4,5]
index1 : list[list[str]] = [['a1','a1','a1','b','b1'],
                      ['a','b','c','d','e']]

s1: pd.Series = pd.Series(values, 
                          index = index1, 
                          name = "Student_data")
s1

a1  a    1
    b    2
    c    3
b   d    4
b1  e    5
Name: Student_data, dtype: int64

In [18]:
#we define multi index here
import numpy as np

values : list[np.int32] = [1,2,3,4,5]
index1 : list[list[str]] = [['a1','a1','a1','b','b1'],
                      ['a','b','c','d','e']]

s1: pd.Series = pd.Series(values, 
                          index = index1, 
                          name = "Student_data",
                          dtype = np.int32)
s1

a1  a    1
    b    2
    c    3
b   d    4
b1  e    5
Name: Student_data, dtype: int32

## Trying different packages to import series

In [7]:
from nptyping import DataFrame, Structure as S

s1: S["Str"] = pd.Series(['a','b','c'])
s1 #we cannot import series from nptyping -> so we can't create series from nptyping

InvalidStructureError: 'Str' is not a valid structure expression.

## DataFrame with Schema

### What is schema?
Schema is structure of your whole table. It defines the everything like first column it's name, it's datatype, it's start value, it's end value and so on

In [20]:
import pandas as pd
import pandera as pa

# data to validate
df = pd.DataFrame({
    "column1": [1, 4, 0, 10, 9],
    "column2": [-1.3, -1.4, -2.9, -10.1, -20.4],
    "column3": ["value_1", "value_2", "value_3", "value_2", "value_1"],
})

# define schema
schema = pa.DataFrameSchema({
    "column1": pa.Column(int, checks=pa.Check.le(10)),
    "column2": pa.Column(float, checks=pa.Check.lt(-1.2)),
    "column3": pa.Column(str, checks=[
        pa.Check.str_startswith("value_"),
        # define custom checks as functions that take a series as input and
        # outputs a boolean or boolean Series
        pa.Check(lambda s: s.str.split("_", expand=True).shape[1] == 2) #expand = expand it into a separete columns
    ]),
})

validated_df = schema(df)
print(validated_df)

   column1  column2  column3
0        1     -1.3  value_1
1        4     -1.4  value_2
2        0     -2.9  value_3
3       10    -10.1  value_2
4        9    -20.4  value_1

# DataFrame
When more than 2 columns connect together creates a DataFrame

In [22]:
s1 : pd.Series = pd.Series([1,2,3,4,5], name = "Student_id") # we set the name of column to Student_id
s2 : pd.Series = pd.Series([10,20,30,40,50], name = "Score")
s3 : pd.Series = pd.Series(["Wania", "Hira","Zunaira","Afnan","Zeeshan"],name = "Student name")

#when we combine 2 or more series it creates a dataframe
# key
# value : should be iteratable 
# length : should be same as length of all series

df1 : pd.DataFrame = pd.DataFrame({"Student ID": s1, "Score": s2, "Student Name" : s3})
df1

   Student ID  Score Student Name
0           1     10        Wania
1           2     20         Hira
2           3     30      Zunaira
3           4     40        Afnan
4           5     50      Zeeshan

In [25]:
s1 : pd.Series = pd.Series([1,2,3,4,5], name = "Student_id") # we set the name of column to Student_id
s2 : pd.Series = pd.Series([10,20,30,40,50], name = "Score")
s3 : pd.Series = pd.Series(["Wania", "Hira","Zunaira","Afnan","Zeeshan"], name = "Student name")

#we cannot write like that
df1 : pd.DataFrame = pd.DataFrame(s1, s2, s3)
df1

Student name Wania Hira Zunaira Afnan Zeeshan
Score
10             NaN  NaN     NaN   NaN     NaN
20             NaN  NaN     NaN   NaN     NaN
30             NaN  NaN     NaN   NaN     NaN
40             NaN  NaN     NaN   NaN     NaN
50             NaN  NaN     NaN   NaN     NaN

In [29]:
s1 : pd.Series = pd.Series([1,2,3,4,5], name = "Student_id") # we set the name of column to Student_id
s2 : pd.Series = pd.Series([10,20,30,40,50], name = "Score")
s3 : pd.Series = pd.Series(["Wania", "Hira","Zunaira","Afnan","Zeeshan"], name = "Student name")

#we cannot write like that
df1 : pd.DataFrame = pd.DataFrame([s1, s2, s3])
df1

0          1
1          2
2          3
3          4
4          5
0         10
1         20
2         30
3         40
4         50
0      Wania
1       Hira
2    Zunaira
3      Afnan
4    Zeeshan
dtype: object

In [28]:
s1 : pd.Series = pd.Series([1,2,3,4,5], name = "Student_id") # we set the name of column to Student_id
s2 : pd.Series = pd.Series([10,20,30,40,50], name = "Score")
s3 : pd.Series = pd.Series(["Wania", "Hira","Zunaira","Afnan","Zeeshan"], name = "Student name")

#we cannot write like that
df1 : pd.DataFrame = pd.concat([s1, s2, s3], axis=1)
df1

   Student_id  Score Student name
0           1     10        Wania
1           2     20         Hira
2           3     30      Zunaira
3           4     40        Afnan
4           5     50      Zeeshan

## Basic DataFrame

In [31]:
data : list[list[int]] = [[1,2,3],
                          [4,5,6],
                          [7,8,9]]

df : pd.DataFrame = pd.DataFrame(data)
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

## DataFrame with column name

In [32]:
data : list[list[int]] = [[1,2,3],
                          [4,5,6],
                          [7,8,9]]

df : pd.DataFrame = pd.DataFrame(data, columns= ['A','B','C'])
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

## DataFrame with column name and index name (row name)

In [9]:
data : list[list[int]] = [[1,2,3],
                          [4,5,6],
                          [7,8,9]]

df : pd.DataFrame = pd.DataFrame(data, columns= ['A','B','C'], index = ['x', 'y', 'z'])
df

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [12]:
df.sum() #sum column wise

A    12
B    15
C    18
dtype: int64

In [15]:
df.sum(axis=1) #sum row wise

x     6
y    15
z    24
dtype: int64

In [11]:
df.sum().sum() #sum all

45

#### Get a column names

In [35]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

#### Get an index names

In [36]:
df.index

Index(['x', 'y', 'z'], dtype='object')

#### Get dataframe values

In [37]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]], dtype=int64)

In [7]:
%pip install numpy nptyping

Requirement already satisfied: numpy in c:\users\wania\appdata\local\programs\python\python312\lib\site-packages (1.26.1)
Requirement already satisfied: nptyping in c:\users\wania\appdata\local\programs\python\python312\lib\site-packages (2.5.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

## MultiDimension array - dynamic function with number of columns and number of rows

In [9]:
from typing import Any
from nptyping import NDArray, Shape

data: NDArray[Shape["Size, Size"], Any] = np.arange(5*5).reshape(5,5)
data

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

### we can use the the above custom array to create a dataframe

In [14]:
from typing import Any
from nptyping import NDArray, Shape
import pandas as pd

data: NDArray[Shape["Size, Size"], Any] = np.arange(10*10).reshape(10,10)

df : pd.DataFrame = pd.DataFrame(data, columns= list("ABCDEFGHIJ")) #columns and index name is 0,1,2,3... by default
df

    A   B   C   D   E   F   G   H   I   J
0   0   1   2   3   4   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18  19
2  20  21  22  23  24  25  26  27  28  29
3  30  31  32  33  34  35  36  37  38  39
4  40  41  42  43  44  45  46  47  48  49
5  50  51  52  53  54  55  56  57  58  59
6  60  61  62  63  64  65  66  67  68  69
7  70  71  72  73  74  75  76  77  78  79
8  80  81  82  83  84  85  86  87  88  89
9  90  91  92  93  94  95  96  97  98  99

### Read HTML and convert it into dataframe

In [16]:
dfl : list[pd.DataFrame] = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
dfl

[  Operator            Name Example    Try it
 0        +        Addition   x + y  Try it »
 1        -     Subtraction   x - y  Try it »
 2        *  Multiplication   x * y  Try it »
 3        /        Division   x / y  Try it »
 4        %         Modulus   x % y  Try it »
 5       **  Exponentiation  x ** y  Try it »
 6       //  Floor division  x // y  Try it »,
    Operator  Example     Same As    Try it
 0         =    x = 5       x = 5  Try it »
 1        +=   x += 3   x = x + 3  Try it »
 2        -=   x -= 3   x = x - 3  Try it »
 3        *=   x *= 3   x = x * 3  Try it »
 4        /=   x /= 3   x = x / 3  Try it »
 5        %=   x %= 3   x = x % 3  Try it »
 6       //=  x //= 3  x = x // 3  Try it »
 7       **=  x **= 3  x = x ** 3  Try it »
 8        &=   x &= 3   x = x & 3  Try it »
 9        |=   x |= 3   x = x | 3  Try it »
 10       ^=   x ^= 3   x = x ^ 3  Try it »
 11      >>=  x >>= 3  x = x >> 3  Try it »
 12      <<=  x <<= 3  x = x << 3  Try it »,
   Operator                      Name Example    Try it
 0       ==                     Equal  x == y  Try it »
 1       !=                 Not equal  x != y  Try it »
 2        >              Greater than   x > y  Try it »
 3        <                 Less than   x < y  Try it »
 4       >=  Greater than or equal to  x >= y  Try it »
 5       <=     Less than or equal to  x <= y  Try it »,
   Operator  ...    Try it
 0      and  ...  Try it »
 1       or  ...  Try it »
 2      not  ...  Try it »

 [3 rows x 4 columns],
   Operator  ...    Try it
 0       is  ...  Try it »
 1   is not  ...  Try it »

 [2 rows x 4 columns],
   Operator  ...    Try it
 0       in  ...  Try it »
 1   not in  ...  Try it »

 [2 rows x 4 columns],
   Operator                  Name  ... Example    Try it
 0        &                   AND  ...   x & y  Try it »
 1        |                    OR  ...   x | y  Try it »
 2        ^                   XOR  ...   x ^ y  Try it »
 3        ~                   NOT  ...      ~x  Try it »
 4       <<  Zero fill left shift  ...  x << 2  Try it »
 5       >>    Signed right shift  ...  x >> 2  Try it »

 [6 rows x 5 columns],
                                Operator  ...    Try it
 0                                    ()  ...  Try it »
 1                                    **  ...  Try it »
 2                              +x -x ~x  ...  Try it »
 3                              * / // %  ...  Try it »
 4                                   + -  ...  Try it »
 5                                 << >>  ...  Try it »
 6                                     &  ...  Try it »
 7                                     ^  ...  Try it »
 8                                     |  ...  Try it »
 9   == != > >= < <= is is not in not in  ...  Try it »
 10                                  not  ...  Try it »
 11                                  and  ...  Try it »
 12                                   or  ...  Try it »

 [13 rows x 3 columns]]

In [17]:
dfl[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [18]:
dfl[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [19]:
df : pd.DataFrame = pd.read_json("https://www.w3schools.com/python/pandas/data.js")
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [20]:
pd.read_csv? #if we dont know about certain thing we can do that

Signature:
pd.read_csv(
    filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]',
    *,
    sep: 'str | None | lib.NoDefault' = <no_default>,
    delimiter: 'str | None | lib.NoDefault' = None,
    header: "int | Sequence[int] | None | Literal['infer']" = 'infer',
    names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>,
    index_col: 'IndexLabel | Literal[False] | None' = None,
    usecols: 'list[HashableT] | Callable[[Hashable], bool] | None' = None,
    dtype: 'DtypeArg | None' = None,
    engine: 'CSVEngine | None' = None,
    converters: 'Mapping[Hashable, Callable] | None' = None,
    true_values: 'list | None' = None,
    false_values: 'list | None' = None,
    skipinitialspace: 'bool' = False,
    skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None,
    skipfooter: 'int' = 0,
    nrows: 'int | None' = None,
    na_values: 'Sequence[str] | Mapping[str, Sequence[str]] | None' = None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool' = False,
    skip_blank_lines: 'bool' = True,
    parse_dates: 'bool | Sequence[Hashable] | None' = None,
    infer_datetime_format: 'bool | lib.NoDefault' = <no_default>,
    keep_date_col: 'bool' = False,
    date_parser: 'Callable | lib.NoDefault' = <no_default>,
    date_format: 'str | None' = None,
    dayfirst: 'bool' = False,
    cache_dates: 'bool' = True,
    iterator: 'bool' = False,
    chunksize: 'int | None' = None,
    compression: 'CompressionOptions' = 'infer',
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    lineterminator: 'str | None' = None,
    quotechar: 'str' = '"',
    quoting: 'int' = 0,
    doublequote: 'bool' = True,
    escapechar: 'str | None' = None,
    comment: 'str | None' = None,
    encoding: 'str | None' = None,
    encoding_errors: 'str | None' = 'strict',
    dialect: 'str | csv.Dialect | None' = None,
    on_bad_lines: 'str' = 'error',
    delim_whitespace: 'bool' = False,
    low_memory: 'bool' = True,
    memory_map: 'bool' = False,
    float_precision: "Literal['high', 'legacy'] | None" = None,
    storage_options: 'StorageOptions | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
) -> 'DataFrame | TextFileReader'
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Character or regex pattern to treat as the delimiter. If ``sep=None``, the
    C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator from only the first valid
    row of the file by Python's builtin sniffer tool, ``csv.Sniffer``.
    In addition, separators longer than 1 character and different from
    ``'\s+'`` will be interpreted as regular expressions and will also force
    the use of the Python parsing engine. Note that regex delimiters are prone
    to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, optional
    Alias for ``sep``.
header : int, Sequence of int, 'infer' or None, default 'infer'
    Row number(s) containing column labels and marking the start of the
    data (zero-indexed). Default behavior is to infer the column names: if no ``names``
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly to ``names`` then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a :class:`~pandas.MultiIndex` on the columns
    e.g. ``[0, 1, 3]``. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : Sequence of Hashable, optional
    Sequence of column labels to apply. If the file contains a header row,
    then you should explicitly pass ``header=0`` to override the column names.
    Duplicates in this list are not allowed.
index_col : Hashable, Sequence of Hashable or False, optional
  Column(s) to use as row label(s), denoted either by column labels or column
  indices.  If a sequence of labels or indices is given, :class:`~pandas.MultiIndex`
  will be formed for the row labels.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g., when you have a malformed file with delimiters at
  the end of each line.
usecols : list of Hashable or Callable, optional
    Subset of columns to select, denoted either by column labels or column indices.
    If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in ``names`` or
    inferred from the document header row(s). If ``names`` are given, the document
    header row(s) are not taken into account. For example, a valid list-like
    ``usecols`` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a :class:`~pandas.DataFrame` from ``data`` with element order
    preserved use ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]``
    for columns in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to ``True``. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
dtype : dtype or dict of {Hashable : dtype}, optional
    Data type(s) to apply to either the whole dataset or individual columns.
    E.g., ``{'a': np.float64, 'b': np.int32, 'c': 'Int64'}``
    Use ``str`` or ``object`` together with suitable ``na_values`` settings
    to preserve and not interpret ``dtype``.
    If ``converters`` are specified, they will be applied INSTEAD
    of ``dtype`` conversion.

    .. versionadded:: 1.5.0

        Support for ``defaultdict`` was added. Specify a ``defaultdict`` as input where
        the default determines the ``dtype`` of the columns which are not explicitly
        listed.
engine : {'c', 'python', 'pyarrow'}, optional
    Parser engine to use. The C and pyarrow engines are faster, while the python engine
    is currently more feature-complete. Multithreading is currently only supported by
    the pyarrow engine.

    .. versionadded:: 1.4.0

        The 'pyarrow' engine was added as an *experimental* engine, and some features
        are unsupported, or may not work correctly, with this engine.
converters : dict of {Hashable : Callable}, optional
    Functions for converting values in specified columns. Keys can either
    be column labels or column indices.
true_values : list, optional
    Values to consider as ``True`` in addition to case-insensitive variants of 'True'.
false_values : list, optional
    Values to consider as ``False`` in addition to case-insensitive variants of 'False'.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : int, list of int or Callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (``int``)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning ``True`` if the row should be skipped and ``False`` otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with ``engine='c'``).
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : Hashable, Iterable of Hashable or dict of {Hashable : Iterable}, optional
    Additional strings to recognize as ``NA``/``NaN``. If ``dict`` passed, specific
    per-column ``NA`` values.  By default the following values are interpreted as
    ``NaN``: " ", "#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan",
    "1.#IND", "1.#QNAN", "<NA>", "N/A", "NA", "NULL", "NaN", "None",
    "n/a", "nan", "null ".

keep_default_na : bool, default True
    Whether or not to include the default ``NaN`` values when parsing the data.
    Depending on whether ``na_values`` is passed in, the behavior is as follows:

    * If ``keep_default_na`` is ``True``, and ``na_values`` are specified, ``na_values``
      is appended to the default ``NaN`` values used for parsing.
    * If ``keep_default_na`` is ``True``, and ``na_values`` are not specified, only
      the default ``NaN`` values are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are specified, only
      the ``NaN`` values specified ``na_values`` are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are not specified, no
      strings will be parsed as ``NaN``.

    Note that if ``na_filter`` is passed in as ``False``, the ``keep_default_na`` and
    ``na_values`` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of ``na_values``). In
    data without any ``NA`` values, passing ``na_filter=False`` can improve the
    performance of reading a large file.
verbose : bool, default False
    Indicate number of ``NA`` values placed in non-numeric columns.
skip_blank_lines : bool, default True
    If ``True``, skip over blank lines rather than interpreting as ``NaN`` values.
parse_dates : bool, list of Hashable, list of lists or dict of {Hashable : list}, default False
    The behavior is as follows:

    * ``bool``. If ``True`` -> try parsing the index.
    * ``list`` of ``int`` or names. e.g. If ``[1, 2, 3]`` -> try parsing columns 1, 2, 3
      each as a separate date column.
    * ``list`` of ``list``. e.g.  If ``[[1, 3]]`` -> combine columns 1 and 3 and parse
      as a single date column.
    * ``dict``, e.g. ``{'foo' : [1, 3]}`` -> parse columns 1, 3 as date and call
      result 'foo'

    If a column or index cannot be represented as an array of ``datetime``,
    say because of an unparsable value or a mixture of timezones, the column
    or index will be returned unaltered as an ``object`` data type. For
    non-standard ``datetime`` parsing, use :func:`~pandas.to_datetime` after
    :func:`~pandas.read_csv`.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If ``True`` and ``parse_dates`` is enabled, pandas will attempt to infer the
    format of the ``datetime`` strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.

    .. deprecated:: 2.0.0
        A strict version of this argument is now the default, passing it has no effect.

keep_date_col : bool, default False
    If ``True`` and ``parse_dates`` specifies combining multiple columns then
    keep the original columns.
date_parser : Callable, optional
    Function to use for converting a sequence of string columns to an array of
    ``datetime`` instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. pandas will try to call ``date_parser`` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by ``parse_dates``) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by ``parse_dates`` into a single array
    and pass that; and 3) call ``date_parser`` once for each row using one or
    more strings (corresponding to the columns defined by ``parse_dates``) as
    arguments.

    .. deprecated:: 2.0.0
       Use ``date_format`` instead, or read in as ``object`` and then apply
       :func:`~pandas.to_datetime` as-needed.
date_format : str or dict of column -> format, optional
   Format to use for parsing dates when used in conjunction with ``parse_dates``.
   For anything more complex, please read in as ``object`` and then apply
   :func:`~pandas.to_datetime` as-needed.

   .. versionadded:: 2.0.0
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : bool, default True
    If ``True``, use a cache of unique, converted dates to apply the ``datetime``
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

iterator : bool, default False
    Return ``TextFileReader`` object for iteration or getting chunks with
    ``get_chunk()``.

    .. versionchanged:: 1.2

       ``TextFileReader`` is a context manager.
chunksize : int, optional
    Number of lines to read from the file per chunk. Passing a value will cause the
    function to return a ``TextFileReader`` object for iteration.
    See the `IO Tools docs
    <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.

    .. versionchanged:: 1.2

       ``TextFileReader`` is a context manager.
compression : str or dict, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
    path-like, then detect compression from the following extensions: '.gz',
    '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
    (otherwise no compression).
    If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
    Set to ``None`` for no decompression.
    Can also be a dict with key ``'method'`` set
    to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
    other key-value pairs are forwarded to
    ``zipfile.ZipFile``, ``gzip.GzipFile``,
    ``bz2.BZ2File``, ``zstandard.ZstdDecompressor``, ``lzma.LZMAFile`` or
    ``tarfile.TarFile``, respectively.
    As an example, the following could be passed for Zstandard decompression using a
    custom compression dictionary:
    ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

    .. versionadded:: 1.5.0
        Added support for `.tar` files.

    .. versionchanged:: 1.4.0 Zstandard support.

thousands : str (length 1), optional
    Character acting as the thousands separator in numerical values.
decimal : str (length 1), default '.'
    Character to recognize as decimal point (e.g., use ',' for European data).
lineterminator : str (length 1), optional
    Character used to denote a line break. Only valid with C parser.
quotechar : str (length 1), optional
    Character used to denote the start and end of a quoted item. Quoted
    items can include the ``delimiter`` and it will be ignored.
quoting : {0 or csv.QUOTE_MINIMAL, 1 or csv.QUOTE_ALL, 2 or csv.QUOTE_NONNUMERIC, 3 or csv.QUOTE_NONE}, default csv.QUOTE_MINIMAL
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Default is
    ``csv.QUOTE_MINIMAL`` (i.e., 0) which implies that only fields containing special
    characters are quoted (e.g., characters defined in ``quotechar``, ``delimiter``,
    or ``lineterminator``.
doublequote : bool, default True
   When ``quotechar`` is specified and ``quoting`` is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive ``quotechar`` elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    Character used to escape other characters.
comment : str (length 1), optional
    Character indicating that the remainder of line should not be parsed.
    If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter ``header`` but not by
    ``skiprows``. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in ``'a,b,c'`` being
    treated as the header.
encoding : str, optional, default 'utf-8'
    Encoding to use for UTF when reading/writing (ex. ``'utf-8'``). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

    .. versionchanged:: 1.2

       When ``encoding`` is ``None``, ``errors='replace'`` is passed to
       ``open()``. Otherwise, ``errors='strict'`` is passed to ``open()``.
       This behavior was previously only the case for ``engine='python'``.

    .. versionchanged:: 1.3.0

       ``encoding_errors`` is a new argument. ``encoding`` has no longer an
       influence on how encoding errors are handled.

encoding_errors : str, optional, default 'strict'
    How encoding errors are treated. `List of possible values
    <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

    .. versionadded:: 1.3.0

dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: ``delimiter``, ``doublequote``, ``escapechar``,
    ``skipinitialspace``, ``quotechar``, and ``quoting``. If it is necessary to
    override values, a ``ParserWarning`` will be issued. See ``csv.Dialect``
    documentation for more details.
on_bad_lines : {'error', 'warn', 'skip'} or Callable, default 'error'
    Specifies what to do upon encountering a bad line (a line with too many fields).
    Allowed values are :

    - ``'error'``, raise an Exception when a bad line is encountered.
    - ``'warn'``, raise a warning when a bad line is encountered and skip that line.
    - ``'skip'``, skip bad lines without raising or warning when they are encountered.

    .. versionadded:: 1.3.0

    .. versionadded:: 1.4.0

        - Callable, function with signature
          ``(bad_line: list[str]) -> list[str] | None`` that will process a single
          bad line. ``bad_line`` is a list of strings split by the ``sep``.
          If the function returns ``None``, the bad line will be ignored.
          If the function returns a new ``list`` of strings with more elements than
          expected, a ``ParserWarning`` will be emitted while dropping extra elements.
          Only supported when ``engine='python'``

delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'\t'``) will be
    used as the ``sep`` delimiter. Equivalent to setting ``sep='\s+'``. If this option
    is set to ``True``, nothing should be passed in for the ``delimiter``
    parameter.
low_memory : bool, default True
    Internally process the file in chunks, resulting in lower memory use
    while parsing, but possibly mixed type inference.  To ensure no mixed
    types either set ``False``, or specify the type with the ``dtype`` parameter.
    Note that the entire file is read into a single :class:`~pandas.DataFrame`

In [21]:
import pandas as pd
import pandera as pa

# data to validate
df = pd.DataFrame({
    "column1": [1, 4, 0, 10, 9],
    "column2": [-1.3, -1.4, -2.9, -10.1, -20.4],
    "column3": ["value_1", "value_2", "value_3", "value_2", "value_1"],
})

# define schema
schema = pa.DataFrameSchema({
    "column1": pa.Column(int, checks=pa.Check.le(10)),
    "column2": pa.Column(float, checks=pa.Check.lt(-1.2)),
    "column3": pa.Column(str, checks=[
        pa.Check.str_startswith("value_"),
        # define custom checks as functions that take a series as input and
        # outputs a boolean or boolean Series
        pa.Check(lambda s: s.str.split("_", expand=True).shape[1] == 2)
    ]),
})

validated_df = schema(df)
print(validated_df)

   column1  column2  column3
0        1     -1.3  value_1
1        4     -1.4  value_2
2        0     -2.9  value_3
3       10    -10.1  value_2
4        9    -20.4  value_1

In [22]:
dir(pa.Check)

['__call__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__slotnames__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_get_check_fn_code',
 'between',
 'eq',
 'equal_to',
 'equal_to',
 'from_builtin_check_name',
 'ge',
 'get_backend',
 'get_builtin_check_fn',
 'greater_than',
 'greater_than',
 'greater_than_or_equal_to',
 'greater_than_or_equal_to',
 'gt',
 'in_range',
 'in_range',
 'isin',
 'isin',
 'le',
 'less_than',
 'less_than',
 'less_than_or_equal_to',
 'less_than_or_equal_to',
 'lt',
 'ne',
 'not_equal_to',
 'not_equal_to',
 'notin',
 'notin',
 'one_sample_ttest',
 'register_backend',
 'register_builtin_check_fn',
 'str_contains',
 'str_contains',
 'str_endswith',
 'str_endswith',
 'str_length',
 'str_length',
 'str_matches',
 'str_matches',
 'str_startswith',
 'str_startswith',
 'two_sample_ttest',
 'unique_values_eq',
 'unique_values_eq']

# Slicing and indexing
* series_variable[index]
* dataFrame
    * loc - for label slicing
    * iloc - for numerical slicing
    * at - to get 1 cell value (using label indexing), we can update it 
    * iat - to get 1 cell value (using numerical indexing), we can update it

In [25]:
s1 : pd.Series = pd.Series([1,2,3,4,5])
display(s1)
print("Applying slicing")
display(s1[1]) #index

0    1
1    2
2    3
3    4
4    5
dtype: int64

Applying slicing

2

In [26]:
s1 : pd.Series = pd.Series([1,2,3,4,5])
display(s1)
print("Applying slicing")
display(s1[1:4]) #index

0    1
1    2
2    3
3    4
4    5
dtype: int64

Applying slicing

1    2
2    3
3    4
dtype: int64

In [27]:
s1 : pd.Series = pd.Series([1,2,3,4,5])
display(s1)
print("Applying slicing")
display(s1.iloc[1:4]) #index location (numbers) -> in it only number will pass no other datatype | it is same as numpy slicing

0    1
1    2
2    3
3    4
4    5
dtype: int64

Applying slicing

1    2
2    3
3    4
dtype: int64

In [28]:
s1 : pd.Series = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'])
display(s1)
print("Applying slicing")
display(s1.iloc[1:4]) #here iloc did slicing on based of numerical indexing and ignore a,b,c,d,e

a    1
b    2
c    3
d    4
e    5
dtype: int64

Applying slicing

b    2
c    3
d    4
dtype: int64

In [30]:
s1 : pd.Series = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'])
display(s1)
print("Applying slicing")
display(s1.loc["a":"c"]) #here slicing perform based on label not numerical value so for that we used loc method 
#loc slicing end is included

a    1
b    2
c    3
d    4
e    5
dtype: int64

Applying slicing

a    1
b    2
c    3
dtype: int64

In [32]:
s1 : pd.Series = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'])
display(s1)
print("Applying slicing")
display(s1.iat[1]) # iat is used to get 1 cell value and you can update it | s1.iat[number]

a    1
b    2
c    3
d    4
e    5
dtype: int64

Applying slicing

2

In [34]:
s1 : pd.Series = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'])
display(s1)
print("Applying slicing")
display(s1.at["d"]) # at used to get 1 cell value based on labeling and you can update it

a    1
b    2
c    3
d    4
e    5
dtype: int64

Applying slicing

4